@import "../../utils/mediaQuery.css";

.resources .resources-bg {
	position: relative;
	margin: 0 auto;
	/* margin-top: -4em; */
	/* max-width: 1280px; */
	height: 100vh;
	background-image: url("../../Assets/resources-bg.jpeg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.resources .resources-bg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.resources .resources-hero-content {
	position: absolute;
	top: 40%;
	width: 700px;
	padding: 2rem;

	z-index: 2;
}

.resources-hero-content .small {
	font-weight: 500;
	line-height: 20px;
	color: var(--title-color);
}

.resources-hero-content .title {
	line-height: 64px;
	color: var(--title-color);
	font-weight: 700;
	font-size: 35px;
}
